name: CD

on:
  release:
    types:
      - created

jobs:
  pypi:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - run: echo "$GITHUB_REF" > version.txt
      - run: pip install twine
      - run: python setup.py sdist
      - run: twine upload --skip-existing /dist/*
        env:
          TWINE_USERNAME: ascoderu
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
